*{
	margin:0;
}

html, body{
	height: 100%;
}

/*@font-face{*/
/*	src: url(../fonts/PTSans-Regular.ttf);*/
/*		font-family: PTSans;*/

/*}*/

/*#################- HOME -#####################*/


#wrapper{
	float:left;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 60px;
	background:#f6f7fa;
	box-sizing: border-box;

}

#head-home{
	float: left;
	width:100%;
	height:80px;
}

ul.nav-links{
	float: right;
	height: 60px;
	margin-top: 12.5px;
	margin-right: 10px;
}

li.link-buttons{
	float:left;
	line-height: 35px;
	width:100px;
	margin-right: 25px;
	list-style-type: none;
	text-align: center;
	font-size: 18px;
	border-radius:12px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-right-style: solid;
	border-left-style: solid;
	color: #f6f7fa;
	border-color: #f6f7fa;
	font-family: PTSans;

}

li#header-links{
	color: #000;
}
a:hover li.link-buttons {
	background:#e0f0ff;
	border-color: #cce7ff;
	color: rgba(50, 76, 100, 0.15);
	color: #000;
	}


footer{
	float: left;
	width:100%;
	height:60px;
	font-family: PTSans;
	background: #5f70a6;
	text-align: center;
	color: #fff;
	margin-top: -60px;
	padding-top: 15px;
	box-sizing: border-box;

}

/*HOME*/
#home-left-outer{
	float: left;
	width: 60%;
	height: auto;
	background: #d5dae8;
	border-radius: 30px;
	padding-top: 20px;
}
.enquiry-h3{
	font-family: PTSans;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.enquiry-hr{
	width: 40%;
	margin: 0 auto;
	margin-top: 3px;
}

#home-left-inner{
	width:100%;
	height: auto;
	min-height:100%;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	box-sizing: border-box;
}

#hometable{
	width: 100%;
	border: 2px solid aqua;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;

}


#tableheader{
	text-align: center;
	background: lightgrey;
}
td{
	/*width: 10%;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#home-right-outer{
	float: left;
	width: 40%;
	min-height:100%;
	text-align: center;
	border-radius: 30px;
	background: #f6f7fa;
	padding-top: 20px;
}

#home-right-box_holder{
	float: left;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}

.home-numbox{
	width: 25%;
	height: 100%;
	background: #d5dae8;
	border-radius: 25px;
	text-align: center;
	font-size: 110px;
	box-sizing: border-box;
}
.home-numbox:hover{
	/*border: 5px solid;*/
	/*border-color: #d5dae8;*/
	/*background-color: #f6f7fa;*/
	opacity: .75;
}
.small_text{
	font-size: 15px;
	text-align: center;

}
#home-right-inner{
	float: left;
	border-radius: 30px;
	width: 100%;
	/*background-color: green;*/
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
	box-sizing: border-box;
	justify-content: center;
}
.home-right-rect{
	width: 90%;
	height: 60px;
	margin: 0 auto;
	color: white;
	background-color: #5f70a6;
	border-radius: 15px;
	text-align: center;
}
.home-right-rect:hover{
	opacity: .75;
}

.rect_text{
	font-size: 40px;
}


#home-right-inner p{
	font-size: 40px;
	text-decoration: none;
	margin: 10px 0px;
}

#home-right-inner a{
	text-decoration: none;
}

#home-link-holder{
	margin-top:50px;
}
.home-link{
	text-decoration: none;
	color: #5f70a6;
}
.home-link:hover{
	text-decoration: underline;
	opacity: .75;

}
/*LOGIN*/
#square_container{
	position: relative;
	width: 40%;
	background-color: blue;
	margin: 0 auto;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	box-sizing: border-box;

}
#square_container:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
#login_img{
	width:50%;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	/*object-fit: cover;*/
}

#login_content{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*padding-top: 15%;*/
	width: 100%;
	height: auto;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}
#login_content p{
	font-size: 20px;
	color: white;
}
#login_content a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.login_images{
	width: 70%;
	height: auto;

}
.user-input{
	width: 80%;
	font-size: 24px;
	height: 40px;
	margin: 6px 0;
}

#userButton{
	width: 80%;
	background-color: #5f70a6;
	color: white;
	font-size: 24px;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#userButton:hover{
	opacity: .75;
}


/*NEW TICKET*/

#newtick_holder{
	float: left;
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 35px;
	box-sizing: border-box;
	background: #5f70a6;


}
.tickuser-input{
	width: 20%;
	font-size: 24px;
	height: 40px;
	margin: 6px 0;
}
#tick_topleft{
	float: left;
	width: 50%;
	height: 20%;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	box-sizing: border-box;
	font-size: 20px;
}

#text_contact{
	float: right;
	width: 50%;
	height: 42px;
	background-color: #f8f8f8;
	padding: 5px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}

#tick_topright{
	float: left;
	width: 50%;
	height: 20%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 20px;
}
.tick_select-boxes{
	min-width: 250px;
	width: auto;
	height: 35px;
	font-size: 20px;
	background-color: #f8f8f8;

}

#tick_summaryholder{
	float: left;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

#text_summary{
	width: 50%;
	height: 55px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}

#tick_descholder{
	float: left;
	width: 100%;
	height: 20%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

#text_desc{
	width: 50%;
	height: 180px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}

#tick_specialint {
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
}

#text_specialint{
	width: 50%;
	height: 130px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}

#tick_buttoholder{
	float: left;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#ticketButton{
	width: 40%;
	font-size: 20px;
	color: #5f70a6;
	padding: 14px 20px;
	background-color: aqua;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

/*TICKET PAGE*/
#tick_outer_holder{
	float: left;
	width: 100%;
	height: 100%;
	background-color: #5f70a6;
}
#tick_holder{
	float: left;
	width: 65%;
	height: 100%;
	padding: 20px;
	/*border-radius: 35px;*/
	box-sizing: border-box;
	background: #5f70a6;
}
#tick_text_summary{
	width: 80%;
	height: 55px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}

#tick_text_desc{
	width: 80%;
	height: 180px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}
#tick_text_specialint{
	width: 80%;
	height: 130px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}

#tick_comment_holder{
	float: left;
	width: 35%;
	height: 100%;
	padding: 20px;
	/*border-radius: 35px;*/
	box-sizing: border-box;
	background: #5f70a6;
	text-align: center;
}
#tick_enter_comment_box {
	width: 100%;
	height: 200px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}
#tick_entercomment_bubble{
	width: 80%;
	margin: 25px auto;
	border-radius: 5px;
	background: #00bfb6;
	padding: 15px;
	text-align: center;
	color: #fff;
	position:relative;
}
#tick_entercomment_bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-right: 10px solid #00bfb6;
	border-left: 10px solid transparent;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	left: -20px;
	top: 6px;
}
#tick_comment_bubble{
	width: 80%;
	margin: 25px auto;
	background: #00bfb6;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	color: #fff;
	position:relative;
}
#tick_comment_bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #00bfb6;
	border-right: 10px solid transparent;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}
/*TEAM CHAT PAGE*/

#chat_outer{
	float: left;
	width: 100%;
	height:100%;
	padding: 25px;
	box-sizing: border-box;
}

#teamchat_leftouter{
	float: left;
	width: 50%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;

}
#enter_comment_box {
	width: 100%;
	height: 300px;
	background-color: #f8f8f8;
	padding: 10px 15px;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: none;
	box-sizing: border-box;
	font-size: 20px;
}
#entercomment_bubble{
	width: 80%;
	margin: 25px auto;
	border-radius: 5px;
	background: #00bfb6;
	padding: 15px;
	text-align: center;
	color: #fff;
	position:relative;
}
#entercomment_bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-right: 10px solid #00bfb6;
	border-left: 10px solid transparent;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	left: -20px;
	top: 6px;
}

#teamchat_rightouter{
	float: left;
	width: 50%;
	padding: 10px;

	box-sizing: border-box;
}
#comment_bubble{
	width: 80%;
	margin: 25px auto;
	background: #00bfb6;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	color: #fff;
	position:relative;
}
#comment_bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #00bfb6;
	border-right: 10px solid transparent;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}
#comment_button{
	width: 40%;
	font-size: 20px;
	color: #ffffff;
	padding: 14px 20px;
	background-color: #00bfb6;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

/*TICKETS PAGE*/

.ticket_title{
	float: left;
	text-align: center;
	margin: 15px;
}
.ticket_title span {

}

#opentickets_holder{
	float: left;
	width: 100%;
	text-align: center;


}

#opentick_table{

	width : 80%;
	height: auto;
	margin: 20px auto;
	border-collapse: collapse;
	border: 4px solid #5f70a6;
	border-radius: 25px;
	padding: 5px;

}

#opentick_table tr:nth-child(even){
	background-color: green;
}
.ticket_title{
	float: left;
	width: 100%;
}


#tickettable{
	width: 100%;
	border-bottom: 1px dashed #5f70a6;
	/*border: 2px solid aqua;*/
	margin-bottom: 7px;
	margin-top: 7px;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
#tickettable td{
	width: 14.285%;
	padding-top: 5px;
	padding-bottom: 5px;
  	overflow: hidden;
}

/*CLOSED TICKETS*/

#tickets_text_top{
	float: left;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 15px;

	box-sizing: border-box;
}

#tickets_text_top_inner{
	margin: 0 auto;
	width: 80%;
	text-align: left;
	padding: 5px;

}

/*TEAM PAGE*/
#team_outer_container{
	float: left;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

#team_link_holder{
	max-width: 50%;
	height: auto;
	margin: 0 auto;
	justify-content: space-around;
	box-sizing: border-box;

}

#team_link{
	float: left;
	width: 45%;
	height: 60px;
	margin: 15px;
	background-color: #5f70a6;
	font-size: 24px;
	color: #f8f8f8;
	border-color: #f8f8f8;
	border-radius: 15px;
	text-align: center;
	box-sizing: border-box;
}
#team_link:hover{
	cursor: pointer;
	opacity: 75%;
}

/*INDEPENDENT TEAM PAGE*/

#team_header{
	float: left;
	width: 100%;
	margin-bottom: 20px;

}
#team_header_in{
	margin: 0 auto;
	width: 70%;
}
#team_header_in h1{
	font-size: 42px;
}

#teampage_outer{
	float: left;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}

#teampage_inner{
	width: 70%;
	height: auto;
	margin: 0 auto;
	padding: 5px;
	box-sizing: border-box;
}
#member_card{
	float: left;
	width: 45%;
	border-radius: 15px;
	padding: 15px;
	margin: 5px;
	background: #d5dae8;
	box-sizing: border-box;

}
#employee_table{
	width: 100%;
	font-size: 22px;
}
#employee_table td{
	padding: 2px;
	text-align: left;
}
#email_outer{
	float: left;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
#email_inner{
	margin: 0 auto;
	width: 70%;
	height: auto;
	padding: 15px;
	box-sizing: border-box;
}
#mail_message{
	float: left;
	width: 100%;
	padding-bottom: 20px;
	box-sizing: border-box;
}
#mail_p{
	font-size: 24px;
}
#mail_box{
	margin: 0 auto;
	width: 70%;
	height: 300px;
	text-align: center;
	box-sizing: border-box;
}
#email_text{
	margin: 0 auto;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	resize: none;
	font-size: 18px;
	padding: 10px;

}
#send_email_button{
	width: 40%;
	font-size: 20px;
	color: #ffffff;
	padding: 14px 20px;
	background: #5f70a6;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
