*{
	margin:0;
}

html, body{
	height: 100%;
}

/*@font-face{*/
/*	src: url(../fonts/PTSans-Regular.ttf);*/
/*		font-family: PTSans;*/

/*}*/

/*#################- HOME -#####################*/


#wrapper{
	float:left;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 60px;
	background:#f6f7fa;
	box-sizing: border-box;

}

#head-home{
	float: left;
	width:100%;
	height:80px;
}

ul.nav-links{
	float: right;
	height: 60px;
	margin-top: 12.5px;
	margin-right: 10px;
}

li.link-buttons{
	float:left;
	line-height: 35px;
	width:100px;
	margin-right: 25px;
	list-style-type: none;
	text-align: center;
	font-size: 18px;
	border-radius:12px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-right-style: solid;
	border-left-style: solid;
	color: #f6f7fa;
	border-color: #f6f7fa;
	font-family: PTSans;

}

li#header-links{
	color: #000;
}
a:hover li.link-buttons {
	background:#e0f0ff;
	border-color: #cce7ff;
	color: rgba(50, 76, 100, 0.15);
	color: #000;
	}


footer{
	float: left;
	width:100%;
	height:60px;
	font-family: PTSans;
	background: #5f70a6;
	text-align: center;
	color: #fff;
	margin-top: -60px;
	padding-top: 15px;
	box-sizing: border-box;

}

/*HOME*/
#home-left-outer{
	float: left;
	width: 60%;
	height: auto;
	background: #d5dae8;
	border-radius: 30px;
	padding-top: 20px;
}
.enquiry-h3{
	font-family: PTSans;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.enquiry-hr{
	width: 40%;
	margin: 0 auto;
	margin-top: 3px;
}

#home-left-inner{
	width:100%;
	height: auto;
	min-height:100%;
	border-radius: 30px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	box-sizing: border-box;
}

#hometable{
	width: 100%;
	border: 2px solid aqua;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;

}


#tableheader{
	text-align: center;
	background: lightgrey;
}
td{
	/*width: 10%;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#home-right-outer{
	float: left;
	width: 40%;
	min-height:100%;
	text-align: center;
	border-radius: 30px;
	background: #f6f7fa;
	padding-top: 20px;
}

#home-right-box_holder{
	float: left;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}

.home-numbox{
	width: 25%;
	height: 100%;
	background: #d5dae8;
	border-radius: 25px;
	text-align: center;
	font-size: 110px;
	box-sizing: border-box;
}
.home-numbox:hover{
	/*border: 5px solid;*/
	/*border-color: #d5dae8;*/
	/*background-color: #f6f7fa;*/
	opacity: .75;
}
.small_text{
	font-size: 15px;
	text-align: center;

}
#home-right-inner{
	float: left;
	border-radius: 30px;
	width: 100%;
	/*background-color: green;*/
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
	box-sizing: border-box;
	justify-content: center;
}
.home-right-rect{
	width: 90%;
	height: 60px;
	margin: 0 auto;
	color: white;
	background-color: #5f70a6;
	border-radius: 15px;
	text-align: center;
}
.home-right-rect:hover{
	opacity: .75;
}

.rect_text{
	font-size: 40px;
}


#home-right-inner p{
	font-size: 40px;
	text-decoration: none;
	margin: 10px 0px;
}

#home-right-inner a{
	text-decoration: none;
}

#home-link-holder{
	margin-top:50px;
}
.home-link{
	text-decoration: none;
	color: #5f70a6;
}
.home-link:hover{
	text-decoration: underline;
	opacity: .75;

}
/*LOGIN*/
#square_container{
	position: relative;
	width: 40%;
	background-color: blue;
	margin: 0 auto;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	box-sizing: border-box;

}
#square_container:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
#login_img{
	width:50%;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	/*object-fit: cover;*/
}

#login_content{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*padding-top: 15%;*/
	width: 100%;
	height: auto;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}
#login_content p{
	font-size: 20px;
	color: white;
}
#login_content a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.login_images{
	width: 70%;
	height: auto;

}
.user-input{
	width: 80%;
	font-size: 24px;
	height: 40px;
	margin: 6px 0;
}
#userButton{
	width: 80%;
	background-color: #5f70a6;
	color: white;
	font-size: 24px;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
#userButton:hover{
	opacity: .75;
}



/*TEAM CHAT PAGE*/
#teamchat_leftouter{
	float: left;
	width: 50%;
	background-color: antiquewhite;


}
#teamchat_rightouter{
	float: left;
	width: 50%;
	background-color: yellow;

}

/*TICKETS PAGE*/
#opentick_table{
	float: left;
	width : 80%;
	height: auto;
	margin: 20px auto;
	border-collapse: collapse;
	border: 4px solid red;
	border-radius: 25px;

}

#opentick_table tr:nth-child(even){
	background-color: lightpink;
}
.ticket_title{
	float: left;
	width: 100%;
}


#tickettable{
	width: 100%;
	border: 2px solid aqua;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
#tickettable td{
	width: 14.285%;
  overflow: hidden;
}