*{
	margin:0;
}

html, body{
	height: 100%;
}

@font-face{
	src: url(../fonts/PTSans-Regular.ttf);
		font-family: PTSans;

}

/*#################- HOME -#####################*/


#wrapper{
	float:left;
	width: 100%;
	min-height: 100%;
	padding-bottom: 100px;
	background:#f6f7fa;
	box-sizing: border-box;

}

#head-home{
	float: left;
	width:100%;
	height:80px;
}

ul.nav-links{
	float: right;
	height: 60px;
	margin-top: 12.5px;
	margin-right: 10px;
}

li.link-buttons{
	float:left;
	line-height: 35px;
	width:100px;
	margin-right: 25px;
	list-style-type: none;
	text-align: center;
	font-size: 18px;
	border-radius:12px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-right-style: solid;
	border-left-style: solid;
	color: #f6f7fa;
	border-color: #f6f7fa;
	font-family: PTSans;

}

li#header-links{
	color: #000;
}
a:hover li.link-buttons {
	background:#e0f0ff;
	border-color: #cce7ff;
	color: rgba(50, 76, 100, 0.15);
	color: #000;
	}


footer{
	float: left;
	width:100%;
	height:100px;
	font-family: PTSans;
	background: #5f70a6;
	text-align: center;
	color: #fff;
	margin-top: -100px;
	padding-top: 40px;
	box-sizing: border-box;
}


#home-left-outer{
	float: left;
	width: 50%;
	height: auto;
	background: #d5dae8;
	padding-top: 20px;
}
.enquiry-h3{
	font-family: PTSans;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.enquiry-hr{
	width: 40%;
	margin: 0 auto;
	margin-top: 3px;
}

#home-left-inner{
	width:100%;
	height: auto;
	min-height:100%;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	box-sizing: border-box;
}

#hometable{
	width: 100%;
	border: 2px solid aqua;
	border-collapse: collapse;
	text-align: center;

}


#tableheader{
	background: aqua;
}
#hometable td{
	width: 20%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*#tdlarge{*/
/*	width:30%;*/
/*	text-overflow: ellipsis;*/
/*	white-space: nowrap;*/
/*	overflow: hidden;*/
/*}*/
#home-right-outer{
	float: left;
	width: 50%;
	min-height:100%;
	text-align: center;
	background: #f6f7fa;
	padding-top: 20px;
}
#home-right-inner{
	width:100%;
	min-height:100%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 25px 0px;
}
#home-right-inner h4{
	font-family: PTSans;
	font-size: 18px;
	margin:	30px 0px;

}
#home-right-inner p{
	font-family: PTSans;
	font-size: 18px;
	margin: 10px 0px;
}
#home-link-holder{
	margin-top:50px;

}
.home-link{
	text-decoration: none;
	color: #5f70a6;
}
.home-link:hover{
	text-decoration: underline;

}