<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create new team</h1>
 <p>Enter the new team info below</p><br>
         <form id="team-form" action='' method = "POST">
                <p>Enter Team Name</p>
                <label for="team_name"></label>
                <input type = "text" name = "team_name" class="team-input">
                <p>Enter Team category</p>
                <label for="team_category"></label>
                <input type = "text" name = "team_category" class="team-input"><br>
                <input type = "submit" value = "Create Team" id="teamButton">
         </form>

</body>
</html>
</body>
</html>