<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <p>Enter the new Team Name below</p><br>
         <form id="team-form" action='' method = "POST">
                <p>Choose Team Name</p>
                <label for="team_name"></label>
                <input type = "text" name = "team_name" class="team-input"><br>
                <input type = "submit" value = "Create Team" id="teamButton">
         </form>

</body>
</html>