<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<p><a href="/adduser">Add User</a></p>
<p><a href="/addTeam">Add Team</a></p>
<p><a href="/teams">View Teams</a></p>
<p><a href="/admin_data">View Admin data</a></p>
<p><a href="/opentickets">Open Tickets</a></p>
<p><a href="/newticket">Create Ticket</a></p>

{% for user in logged_in_user %}

<p> Login ID:{{ user.login_id }}  </p> <br><p> {{ user.user_id }} </p> <br><p> {{ user.name }} </p> <br><p>{{ user.email }} </p> <br><p> {{ user.password }}
   </p> <br><p> {{ user.team_id }} </p> <br><p> {{ user.team_name }} </p> <br><p> {{ user.jobTitle }}</p> <br>

     {% endfor %}



</body>

</html>