<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>
<body>

<div id="wrapper">
    <div id = "square_container">
        <div id="login_content">
            <div id="login_img">
                <img src="../static/images/LoginUnlock.png" class="login_images" alt="Login in Image"></a>
            </div>
             <form id="user-form" action='' method = "POST">

                 <label for="email"></label><br>
                    <input type = "text" placeholder="Enter Email" name = "email" class="user-input" required><br>

                 <label for="password"></label><br>
                    <input type = "password" placeholder="Enter Password" name = "password" class="user-input" required><br>

                 <button type = "submit" value = "Login" id="userButton">Login</button>
             </form>
            <br>

            <p>Don't have an account ? <a href="/adduser">Sign Up here</a></p>
        </div>


    </div>
</div>
<footer>
	<p>John Murphy | &copy; 2022</p>

</footer>

</body>
</html>