<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">

				<li id="header-links" class="link-buttons"><a href="/">Home</a></li>


				<li id="header-links" class="link-buttons"><a href="/opentickets">View Tickets</a></li>


				<li id="header-links" class="link-buttons"><a href="/teams">View Teams</a></li>


				<li id="header-links" class="link-buttons"><a href="/admin_data">Admin</a></li>


			<li id="header-links"class="link-buttons"><a href="/logout">Log Out</a></li>

		</ul>
	</header>
    <div id="space_maker">
        <h2>Create New Ticket</h2>
    </div>

    <div id="newtick_holder">
        <p>Create New Ticket</p>
        <form id="user-form" action='' method = "POST">
            <div id="tick_topleft">
                <label for="contact_num"></label>
                <textarea id="text_contact" name = "contact_num" placeholder="Optional contact number " class="tickuser-input"></textarea>
            </div>
            <div id="tick_topright">
                <p>Assign job to Team</p>
                <label for="team_id"></label>
                <select name="team_id" class="tick_select-boxes">
                    {% for t in teamList %}
                    <option value={{ t.team_id }}>{{ t.team_name }}</option>
                    {% endfor %}
                </select>

                <p>Priority</p>
                <label for="priority"></label>
                <select name="priority"  class="tick_select-boxes">
                    <option value="1">1 - Low</option>
                    <option value="2">2 - Moderate</option>
                    <option value="3">3 - High</option>
                    <option value="4">4 - Critical</option>
                </select>

                <p>Environment</p>
                <label for="environment"></label>
                <select name="environment"  class="tick_select-boxes">
                    <option value="DEV">Development</option>
                    <option value="QA">Quality Assurance</option>
                    <option value="REL">Release</option>
                    <option value="PROD">Production</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div id="tick_summaryholder">
                <p>Summary </p>
                <label for="summary"></label>
                <textarea name = "summary" id="text_summary"  placeholder="Enter a short summary of the ticket task (approx 10 words).."></textarea>
            </div>
            <div id="tick_descholder">
                <p>Ticket Description</p>
                <label for="description"></label>
                <textarea name = "description" id="text_desc"  placeholder="Enter the steps to be taken to complete this ticket"></textarea>
            </div>
            <div id="tick_specialint">
                <p>Special Instructions </p>
                <label for="ticket_sp_instruction"></label>
                <textarea name = "ticket_sp_instruction" id="text_specialint" placeholder="Any extra steps or notes you wish the add "></textarea>
            </div>
            <div id="tick_buttoholder">
            <input type = "submit" value = "Create Ticket" id="ticketButton">
            </div>
        </form>
    </div>
</div>
<footer>
    <p>John Murphy | &copy; 2022</p>

</footer>

</body>

</html>