<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <p>Create New Ticket</p><br>
         <form id="user-form" action='' method = "POST">

                <p>Ticket Description</p>
                <label for="description"></label>
             <textarea name = "description" rows="15" cols="50"></textarea>
<!--                <input type = "textarea" name = "description" class="user-input"><br>-->

                <p>Assign job to Team</p>
                <select name="team_id" class="select-boxes">
                      {% for t in teamList %}
                      <option value={{ t.team_id }}>{{ t.team_name }}</option>
                      {% endfor %}
                </select>
                <label for="team_id"></label>
                <p>Contact Number</p>
                <label for="contact_num"></label>
                <input type = "text" name = "contact_num" class="user-input"><br>
                <p>Priority</p>
                <label for="priority"></label>
                <select name="priority"  class="select-boxes">
                           <option value="1">1 - Low</option>
                           <option value="2">2 - Moderate</option>
                           <option value="3">3 - High</option>
                           <option value="4">4 - Critical</option>
                </select>
                <p>Summary </p>
                <label for="summary"></label>
             <textarea name = "summary" rows="5" cols="50">

             </textarea>
                <p>Environment</p>
               <label for="environment"></label>
                       <select name="environment"  class="select-boxes">
                           <option value="DEV">Development</option>
                           <option value="QA">Quality Assurance</option>
                           <option value="REL">Release</option>
                           <option value="PROD">Production</option>
                           <option value="Other">Other</option>
                       </select>

                <p>Special Instructions </p>
                <label for="ticket_sp_instruction"></label>
             <textarea name = "ticket_sp_instruction" rows="10" cols="50"></textarea><br>

             <input type = "submit" value = "Create Ticket" id="userButton">
         </form>

</body>
</html>