<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <p>Create New Ticket/p><br>
         <form id="user-form" action='' method = "POST">
                <p>Enter Requesters user ID</p>
                <label for="user_id"></label>
                <input type = "text" name = "user_id" class="user-input"><br>
                <p>Ticket Description</p>
                <label for="description"></label>
                <input type = "textarea" name = "description" class="user-input"><br>
                <p>Ticket State (leave empty for test)</p>
                <label for="state"></label>
                <input type = "text" name = "state" class="user-input"><br>
                <p>Assign job to team_id</p>
                <label for="team_id"></label>
                <input type = "text" name = "team_id" class="user-input"><br>
                <p>Contact Number</p>
                <label for="contact_num"></label>
                <input type = "text" name = "contact_num" class="user-input"><br>
                <p>Priority</p>
                <label for="priority"></label>
                <input type = "text" name = "priority" class="review-input"><br>
                <p>Summary </p>
                <label for="summary"></label>
                <input type = "text" name = "summary" class="review-input"><br>
                <p>Environment</p>
                <label for="environment"></label>
                <input type = "text" name = "environment" class="review-input"><br>
                <p>Special Instructions </p>
                <label for="ticket_sp_instruction"></label>
                <input type = "text" name = "ticket_sp_instruction" class="review-input"><br>

             <input type = "submit" value = "Create Ticket" id="userButton">
         </form>

</body>
</html>