<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div style="width : 100%; background-color: greenyellow; height: auto">
    <h2>Open Tickets</h2>
       {% for openticket in openTickets %}
 <p>*********************************************************************</p>
    <a href="/ticket/{{ openticket.ticket_id }}">
        <p class="info">Ticket Number :<b> {{ openticket.ticket_id }} </b></p>
        <p class="info">Priority  :<b> {{ openticket.priority }} </b></p>

        <p class="info">Ticket State :<b> {{ openticket.state }} </b></p>
        <p class="info">Ticket Created :<b> {{ openticket.ticket_created }} </b></p>
        <p class="info">Requested by :<b> {{ openticket.name }} </b></p>
        <p class="info">Assigned to Team:<b> {{ openticket.team_name }} </b></p>

    <br>
        <p class="info">Summary :<b> {{ openticket.summary }} </b></p></a>

    <br>

 <p>*********************************************************************</p>
    {% endfor %}
</div>
<div style="width : 100%; background-color: red; height: auto">
    <h2>In-Progress Tickets</h2>
           {% for progTicket in progTickets %}
 <p>*********************************************************************</p>
        <a href="/ticket/{{ progTicket.ticket_id }}">
        <p class="info">Ticket Number :<b> {{ progTicket.ticket_id }} </b></p>
        <p class="info">Priority  :<b> {{ progTicket.priority }} </b></p>

        <p class="info">Ticket State :<b> {{ progTicket.state }} </b></p>
        <p class="info">Ticket Created :<b> {{ progTicket.ticket_created }} </b></p>
        <p class="info">Requested by :<b> {{ progTicket.name }} </b></p>
        <p class="info">Assigned to Team:<b> {{ progTicket.team_name }} </b></p>

    <br>
        <p class="info">Summary :<b> {{ progTicket.summary }} </b></p></a>


 <p>*********************************************************************</p>
    {% endfor %}
</div>
<div>
</div>
</body>
</html>