<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">
			<a href="/">
				<li id="header-links" class="link-buttons">Home</li>
			</a>
			<a href="/opentickets">
				<li id="header-links" class="link-buttons">View Tickets</li>
			</a>
			<a href="/teams">
				<li id="header-links" class="link-buttons">View Teams</li>
			</a>
			<a href="/admin_data">
				<li id="header-links" class="link-buttons">Admin</li>
			</a>
			<a href="/logout">
			<li id="header-links"class="link-buttons">Log Out</li>
			</a>
		</ul>
	</header>

	<div id="tickets_text_top">
		<div id="tickets_text_top_inner">
			<h2>{{ team_name }} Team Live Tickets</h2>
			<p>All live tickets assigned to {{ team_name }} team.</p>
			<p>The 'My Tickets' section will contain all live tickets opened by you, regardless of what team the ticket is assigned to.</p>
		</div>
	</div>

	<div id="opentickets_holder">
		<div class="ticket_title">
			<h2>Open Tickets</h2>
		</div>

		<div id="opentick_table" style="overflow-x: auto;">


        	<table id="tickettable">
				<tr id="tableheader">

					<th id="tdlarge">Summary</th>
					<th>Ticket Number</th>
					<th>Ticket State</th>
					<th>Ticket Create date</th>
					<th>Priority</th>
					<th>Requested by</th>
					<th>Assigned to Team</th>

				</tr>
			</table>
			{% for openticket in openTickets %}
			<a href="/ticket/{{ openticket.ticket_id }}">
			<table id="tickettable">
				<tr>
					<td id="tdlarge">{{ openticket.summary }}</td>
					<td>{{ openticket.ticket_id }}</td>
					<td>{{ openticket.state }}</td>
					<td>{{ openticket.ticket_created }}</td>
					<td>{{ openticket.priority }}</td>
					<td>{{ openticket.name }}</td>
					<td>{{ openticket.team_name }}</td>

				</tr>
			</table>
			</a>
			{% endfor %}


		</div>

		<div class="ticket_title">
        	<h2 id = "anchor_progress">In-Progress Tickets</h2>
		</div>

		<div id="opentick_table" style="overflow-x: auto;">



			<table id="tickettable">
				<tr id="tableheader">
					<th id="tdlarge">Summary</th>
					<th>Ticket Number</th>
					<th>Ticket State</th>
					<th>Ticket Create date</th>
					<th>Priority</th>
					<th>Requested by</th>
					<th>Assigned to Team</th>
				</tr>

			</table>
			{% for progTicket in progTickets %}
			<a href="/ticket/{{ progTicket.ticket_id }}">
			<table id="tickettable">
				<tr>
					<td id="tdlarge">{{ progTicket.summary }}</td>
					<td>{{ progTicket.ticket_id }}</td>
					<td>{{ progTicket.state }}</td>
					<td> {{ progTicket.ticket_created }}</td>
					<td> {{ progTicket.priority }}</td>
					<td>{{ progTicket.name }}</td>
					<td>{{ progTicket.team_name }}</td>
				</tr>
			</table>
			</a>
			{% endfor %}
		</div>

		<div class="ticket_title">
			<h2 id = "anchor_waiting">Waiting Tickets</h2>
		</div>

		<div id="opentick_table" style="overflow-x: auto;">

			<table id="tickettable">
				<tr id="tableheader">
					<th id="tdlarge">Summary</th>
					<th>Ticket Number</th>
					<th>Ticket State</th>
					<th>Ticket Create date</th>
					<th>Priority</th>
					<th>Requested by</th>
					<th>Assigned to Team</th>
				</tr>
			</table>
			{% for waitTicket in waitTickets %}
			 <a href="/ticket/{{ waitTicket.ticket_id }}">
			<table id="tickettable">
				<tr>
					<td id="tdlarge">{{ waitTicket.summary }}</td>
					<td>{{ waitTicket.ticket_id }}</td>
					<td>{{ waitTicket.state }}</td>
					<td> {{ waitTicket.ticket_created }}</td>
					<td> {{ waitTicket.priority }}</td>
					<td>{{ waitTicket.name }}</td>
					<td>{{ waitTicket.team_name }}</td>
				</tr>
			</table>
			 </a>
			{% endfor %}
		</div>

		<div class="ticket_title">
			<h2 id = "anchor_myTickets">My Tickets</h2>
		</div>

		<div id="opentick_table" style="overflow-x: auto;">

			<table id="tickettable">
				<tr id="tableheader">
					<th id="tdlarge">Summary</th>
					<th>Ticket Number</th>
					<th>Ticket State</th>
					<th>Ticket Create date</th>
					<th>Priority</th>
					<th>Requested by</th>
					<th>Assigned to Team</th>
				</tr>
			</table>

			{% for myTicket in myTickets %}
			<a href="/ticket/{{ myTicket.ticket_id }}">
				<table id="tickettable">
					<tr>
						<td id="tdlarge">{{ myTicket.summary }}</td>
						<td>{{ myTicket.ticket_id }}</td>
						<td>{{ myTicket.state }}</td>
						<td> {{ myTicket.ticket_created }}</td>
						<td> {{ myTicket.priority }}</td>
						<td>{{ myTicket.name }}</td>
						<td>{{ myTicket.team_name }}</td>
					</tr>
				</table>
			</a>
			{% endfor %}

		</div>
		<div id="closed_ticket_holder">
			<h2><a href="/closedtickets">Closed Tickets</a></h2>
		</div>
	</div>
</div>

<footer>
	<p>John Murphy | &copy; 2022</p>
</footer>

</body>
</html>