<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">
			<a href="/">
				<li id="header-links" class="link-buttons">Home</li>
			</a>
			<a href="/opentickets">
				<li id="header-links" class="link-buttons">View Tickets</li>
			</a>
			<a href="/teams">
				<li id="header-links" class="link-buttons">View Teams</li>
			</a>
			<a href="/admin_data">
				<li id="header-links" class="link-buttons">Admin</li>
			</a>
			<a href="/logout">
			<li id="header-links"class="link-buttons">Log Out</li>
			</a>
		</ul>
	</header>

	<div id="team_outer_container">

		<h1>All Registered Teams</h1>
		<p>Select a Team:</p>

			<div id="team_link_holder">
				{% for team in teams %}

					<a href="/teams/{{team.team_id}}"><button id="team_link">{{ team.team_name }}</button></a>

				{% endfor %}
			</div>
	</div>
</div>
<footer>
	<p>John Murphy | &copy; 2022</p>

</footer>
</body>
</html>