<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">
			<a href="/">
				<li id="header-links" class="link-buttons">Home</li>
			</a>
			<a href="/opentickets">
				<li id="header-links" class="link-buttons">View Tickets</li>
			</a>
			<a href="/teams">
				<li id="header-links" class="link-buttons">View Teams</li>
			</a>
			<a href="/admin_data">
				<li id="header-links" class="link-buttons">Admin</li>
			</a>
			<a href="/logout">
			<li id="header-links"class="link-buttons">Log Out</li>
			</a>
		</ul>
	</header>






        <h1> {{ teaminfo.team_name }} </h1>
          <p class="info">Team ID :<b> {{ teaminfo.team_id }} </b></p>
        <p>Team category: {{teaminfo.team_category}}</p>
            <hr>
            <br>
   <h2>Team Members</h2>
 {% for member in allMembers %}

        <p>Member Name: {{member.name}}</p>
        <p>Member ID: {{member.user_id}}</p>
        <p>Member Email: {{member.email}}</p>
        <p>Member Job Title: {{member.jobTitle}}</p>

            <hr>
            <br>
    {% endfor %}



</div>
<footer>
	<p>John Murphy | &copy; 2022</p>

</footer>

</body>
</html>