<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Chat</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">

</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">
			<a href="/">
				<li id="header-links" class="link-buttons">Home</li>
			</a>
			<a href="/opentickets">
				<li id="header-links" class="link-buttons">View Tickets</li>
			</a>
			<a href="/teams">
				<li id="header-links" class="link-buttons">View Teams</li>
			</a>
			<a href="/admin_data">
				<li id="header-links" class="link-buttons">Admin</li>
			</a>
			<a href="/logout">
			<li id="header-links"class="link-buttons">Log Out</li>
			</a>
		</ul>
	</header>
	<div id="chat_outer">
	<h1>Welcome {{ username }}</h1>
		<h2>Team Chat page</h2>


	<div id = "teamchat_leftouter">
		<form id="comment-form" action='' method = "POST">

		<div id="entercomment_bubble">
	   		<label for="comment"></label>
    		<textarea name = "comment" id="enter_comment_box" placeholder="Enter comment here .."></textarea>
		</div>

		<input type = "submit" value = "Add Comment" id="comment_button">
		</form>

	</div>
	<div id = "teamchat_rightouter">
    	{% for comment in teamComments %}
		<div id="comment_bubble">
    		<p>{{ comment.name }} wrote: </p><br>
    		<p>{{ comment.comment }}</p>
			<br>
			<p>{{ comment.timecreated }}</p>
		</div>

		{% endfor %}
	</div>



</div>
</div>
<footer>
	<p>John Murphy | &copy; 2022</p>

</footer>


</body>
</html>