<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">
			<a href="/">
				<li id="header-links" class="link-buttons">Home</li>
			</a>
			<a href="/opentickets">
				<li id="header-links" class="link-buttons">View Tickets</li>
			</a>
			<a href="/teams">
				<li id="header-links" class="link-buttons">View Teams</li>
			</a>
			<a href="/admin_data">
				<li id="header-links" class="link-buttons">Admin</li>
			</a>
			<a href="/logout">
			<li id="header-links"class="link-buttons">Log Out</li>
			</a>
		</ul>
	</header>



	<div id="teampage_outer">

		<div id="team_header">
			<div id="team_header_in">
				<h1> {{ teaminfo.team_name }} </h1>
				<br>
				<p id="mail_p">Team Id Number : {{ teaminfo.team_id }}</p>
				<p id="mail_p">Team Category: {{teaminfo.team_category}}</p>
			</div>
		</div>

			<div id="teampage_inner">
				{% for member in allMembers %}
					<div id="member_card">
						<table id="employee_table" style="overflow-x:auto;">
							<tr>
								<td>Name</td>
								<td>{{member.name}}</td>
							</tr>
							<tr>
								<td>Employee ID</td>
								<td>{{member.user_id}}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>{{member.email}}</td>
							</tr>
							<tr>
								<td>Job Title</td>
								<td>{{member.jobTitle}}</td>
							</tr>
						</table>

					</div>

				{% endfor %}
			</div>
	</div>
	<div id="email_outer">
		<div id="email_inner">
			<div id="mail_message">
				<p id="mail_p">Send a message to all members of the {{ teaminfo.team_name }} team </p>
			</div>

			<div id="mail_box"
				<form id="email-form" action='' method = "POST">
					<textarea name="team_email_message" id="email_text" placeholder="Enter your message here"></textarea>

					  <input type = "submit" value = "Send message" id="send_email_button">
				</form>
			</div>
		</div>

	</div>
</div>

<footer>
	<p>John Murphy | &copy; 2022</p>

</footer>

</body>
</html>