<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ttStyle.css') }}">
</head>

<body>

<div id="wrapper">

	<header id="head-home">
		<ul class="nav-links">
			<li id="header-links" class="link-buttons"><a href="/">Home</a></li>
			<li id="header-links" class="link-buttons"><a href="/opentickets">View Tickets</a></li>
			<li id="header-links" class="link-buttons"><a href="/teams">View Teams</a></li>
			<li id="header-links" class="link-buttons"><a href="/admin_data">Admin</a></li>
			<li id="header-links"class="link-buttons"><a href="/logout">Log Out</a></li>
		</ul>
	</header>

    <div id="tick_outer_holder">
    {% for ticket in ticketinfo %}
    <div id="tick_holder">

        <div id="tick_topleft">
            <table id="tick_info_table">
            <tr>
                <td>Requester</td>
                <td><b>{{ ticket.name }}</b></td>
            </tr>
            <tr>
                <td>Contact Number :</td>
                <td><b>{{ ticket.contact_num }}</b></td>
            </tr>
            </table>
        </div>
            <div id="tick_topright">
                 <table id="tick_info_table">
            <tr>
                <td>State:</td>
                <td><b>{{ ticket.state }}</b></td>
            </tr>
            <tr>
                <td>Environment:</td>
                <td><b>{{ ticket.environment }}</b></td>
            </tr>
            <tr>
                <td>Assigned job to Team:</td>
                <td><b>{{ ticket.team_name }}</b></td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td><b>{{ ticket.priority }}</b></td>
            </tr>
            </table>

            </div>
            <div id="tick_summaryholder">
                <p>Summary </p>
                <label for="summary"></label>
                <textarea name = "summary" id="tick_text_summary" readonly>{{ticket.summary}}</textarea>
            </div>
            <div id="tick_descholder">
                <p>Ticket Description</p>
                <label for="description"></label>
                <textarea name = "description" id="tick_text_desc" readonly >{{ticket.description}}</textarea>
            </div>

            <div id="tick_specialint">
                <p>Special Instructions</p>
                <label for="ticket_sp_instruction"></label>
                <textarea name = "ticket_sp_instruction" id="tick_text_specialint" readonly>{{ ticket.ticket_sp_instruction }}</textarea>
            </div>
            <div id="tick_buttoholder">
                <a href="/editticket/{{ ticket.ticket_id }}"><button id="ticketButton">Update Ticket</button></a>
            </div>

    </div>
    {% endfor %}
    <div id="tick_comment_holder">
        <form id="comment-form" action='' method = "POST">
            <div id="tick_entercomment_bubble">
	   		    <label for="comment"></label>
    		    <textarea name = "comment" id="tick_enter_comment_box" placeholder="Enter comment here .."></textarea>
		    </div>
        <input type = "submit" value = "Add Comment" id="comment_button">

        </form>

        {% for comment in allComments %}
            <div id="tick_comment_bubble">
                <p>{{ comment.name }} wrote: </p><br>
                <p>{{ comment.comment }}</p>
                <br>
                <p>{{ comment.timecreated }}</p>
            </div>
        {% endfor %}


    </div>
</div>
</div>
<footer>
	<p>John Murphy | &copy; 2022</p>

</footer>

</body>
</html>