<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for ticket in ticketinfo %}
<a href="/editticket/{{ ticket.ticket_id }}"><button>Update Ticket</button></a>

                <p>Requester's ID: {{ ticket.user_id }} {{ ticket.name }}<p>
              <p>Contact Number : {{ ticket.contact_num }}</p>

                <p>Ticket Description: </p>
                <label for="description"></label>
             <textarea readonly name = "description" rows="15" cols="50">{{ticket.description}}</textarea>

                <p>State: {{ ticket.state }}</p>
               <label for="team_id"></label>
                <p>Assigned job to Team: {{ ticket.team_name }}</p>

                <label for="priority"></label>
                <p>Priority: {{ ticket.priority }}</p>
                <label for= "summary"></label>
     <p>Summary:</p>
             <textarea readonly name = "summary" rows="5" cols="50">{{ticket.summary}}</textarea>
     <label for="environment"></label>
                <p>Environment: {{ ticket.environment }}</p>

                <p>Special Instructions </p>
                <label for="ticket_sp_instruction"></label>
             <textarea readonly name = "ticket_sp_instruction" rows="10" cols="50" >{{ ticket.ticket_sp_instruction }}</textarea><br>

     <form id="comment-form" action='' method = "POST">

            <p>Enter Comments: </p>
            <label for="comment"></label>
            <textarea name = "comment" rows="15" cols="50"></textarea>

           <input type = "submit" value = "Add Comment" id="commentButton">
     </form>

     {% for comment in allComments %}
        <p>{{ comment.name }} : {{ comment.timecreated }}</p>

        <textarea name ="comment" rows="20" cols="50">{{ comment.comment }}</textarea>
     {% endfor %}

{% endfor %}


</body>
</html>